body {
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-areas:
    "header header header nav"
    "main   main   main   main"
    "footer footer footer footer";
}

.header {
    grid-area: header;
    text-align: center;
    border: 2px solid black;
}
.nav {
    grid-area: nav;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    text-align: left;

    padding: 0;
    margin: 0;
}
.nav p {
    background-color: lightblue;
    margin: 0;
    padding-left: 1em;
}
.footer {
    grid-area: footer;
}
.main {
    grid-area: main;

    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-areas:
    "aside1 aside2 article";
}
.aside1 {
    grid-area: aside1;
    border: 1px solid black;
}
.aside2 {
    grid-area: aside2;
    border: 1px solid black;
}
.article {
    grid-area: article;
    border: 1px solid black;
}