* {
	box-sizing: border-box;
}
body {
	font-family: Helvetica, sans-serif;
	max-width: 60em;
	margin: 1em auto;
}
a:link {
	text-decoration: none;
	color: black;
	background-color: rgba(75, 177, 153, 0.50);
	border: 3px ridge green;
	padding: 5px;
	margin: 7px;
}
.Fyrirsogn {
	display: flex;
	justify-content: center;
	background-color: orange;
}
.Valmynd {
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	background-color: rgba(57,152,216,80);
}
.dalkar {
	display: flex;
	flex-flow: row;
	min-height: 17.5em;
}
.Vinstri_d,
.Haegri_d {
	display: flex;
	background-color: yellow;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	justify-content: center;
	padding: 1em;

}
.Midju_d {
	display: flex;
	flex-flow: column;
	background-color: red;
	flex-grow: 2;
	flex-shrink: 2;
	flex-basis: 0;
	align-items: center;
	justify-content: center;
	padding: 1em;
}
footer {
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	min-height: 5em;
	align-items: center;
	justify-content: center;
	background-color: rgba(57,152,216,80);
}