/*================================
    Grid Template Areas
  ================================ */

.timi {
    grid-area: "timi";
}
.spurning {
    grid-area: "spurning";
}
.stig {
    grid-area: "stig";
}
/*Svör*/
.svar1 {
    grid-area: "svar1";
}
.svar2 {
    grid-area: "svar2";
}
.svar3 {
    grid-area: "svar3";
}
.svar4 {
    grid-area: "svar4";
}

.adalEfni {
    display: grid;
    grid-template-areas:
    "timi spurning stig";
    grid-template-columns: 1fr 4fr 1fr;
}
.svor {
    display: grid;
    grid-template-areas:
    "svar1 svar2"
    "svar3 svar4";
}

/*================================
    Padding/Margin
  ================================ */

body {
    padding: 0;
    margin: 0;
}
.titill {
    margin: 0;
    padding: 1em;
}
.svor div {
    padding: 1em 0;
}

/*================================
    Text align
  ================================ */

.adalEfni,
.titill,
.svor div,
.spila_aftur {
    text-align: center;
}
.timi,
.stig,
.svor div,
.spila_aftur {
    margin: auto 0;
}

/*================================
    Border
  ================================ */

.titill,
.adalEfni,
.spurning,
.svor div {
    border: 1px ridge black;
}

/*================================
    Color
  ================================ */



/*================================
    Annað
  ================================ */

.adalEfni {
    min-height: 20em;
}
.svor div:hover,
.spila_aftur_mynd:hover {
    cursor: pointer;
}
.spila_aftur_mynd {
    width: 10em;
}
.falid {
    display: none;
}