body {
	max-width: 50em;
	margin: 1em auto;
	font-family: Arial;
	background-color: rgba(27,0,255,0.43);
	border:solid;
	border-width: 3px;
	border-color: rgba(255,127,41,0.67);
	padding: 1em;
}
h1 {
	color: blue;
	size: 24px;
}	
h2 {
	color: green;
}
h5 {
	color: purple;
}
ol {
	color: yellow;
}
ul li {
	color: purple;
}
.raudur {
	color: red;
}
.blar {
	color: blue;
}
.graenn{
	color: green;
}
.center {
	text-align: center;
}
.body_sida2 {
	background-color: pink;
}