.titill {
    text-align: center;
}
.takki {
    all: none;
    display: block;
    margin: 0 auto .5em auto;
    border-radius: .3em;
    font-size: 1.2em;
    background-color: lightblue;
    border: 3px ridge rgb(18, 18, 197);
    padding: .3em .7em;
}
.takki:hover {
    background-color: blue;
    border-color: darkblue;
    color: white;
}
.leikur {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px ridge blue;
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Hubble_ultra_deep_field_high_rez_edit1.jpg/1200px-Hubble_ultra_deep_field_high_rez_edit1.jpg');
}
.fela_mus:hover {
    cursor: none;
}
.allurLeikur {
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
}
.fela {
    display: none;
}
.teljarar {
    text-align: right;
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}