* {
	box-sizing: border-box;
}
body {
	grid-template-columns: 75% 25%;

	display: grid;
	grid-template-areas:
	"header nav_bar"
	"Meginmal Meginmal"
	"footer footer";

	max-width: 60em;
	margin: 1em auto;
  	grid-gap: 0;
  	background-color: white;
  	font-family: 'Raleway', sans-serif;	
}
a:link {
	text-decoration: none;
	color: black;
	background-color: rgb(216, 214, 207);
	border: 3px ridge silver;
	padding-top: 5px;
	padding-bottom: 5px;
}
a:vidited {
	text-decoration: none;
	color: silver;
	border-color: silver;
}
.header {
	grid-area: header;

	text-align: center;
	margin: 1px;
	border: 5px ridge silver;
	background: linear-gradient(#c0c0c0, #ffffff);
	font-family: 'Roboto Slab', serif;
}
.nav_bar {
	grid-area: nav_bar;

	display: grid;
	grid-template-rows:
	repeat(5, 20%);

	background: linear-gradient(to right, #c0c0c0, #ffffff, #c0c0c0);
	text-align: center;
	align-items: center;
	margin: 1px;
	border: 5px ridge silver;


}
.V_dalkur {
	grid-area:.V_dalkur;

	text-align: center;
}
.M_dalkur {
	grid-area: M_dalkur;
}
.H_dalkur {
	grid-area: H_dalkur;

	text-align: center;
}
.Meginmal {
	grid-area: Meginmal;
}
.footer {
	grid-area: footer;

	text-align: center;
	padding: 1em;
	margin: 1px;
	border: 5px ridge silver;
	background: linear-gradient(to right, #c0c0c0, #ffffff, #c0c0c0);
}
.Meginmal{
	grid-template-columns:
  	75% 25%;

	display: grid;
	grid-template-areas:
  	"M_dalkur H_dalkur"
  	"M_dalkur V_dalkur";
}
.V_dalkur,
.M_dalkur,
.H_dalkur {
	padding: 3px;
	margin: 1px;
	border: 5px ridge silver;
	background: linear-gradient(#ffffff, #c0c0c0);
}
