
/* =======================================
   Tafla 1
  ======================================== */
.tafla_1 {
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
}
.tafla_1 thead tr th,
.tafla_1 tbody tr td {
    border: 1px solid black;
    padding: 10px 15px;
}
.tafla_1 caption {
    font-size: 20pt;
    margin-bottom: 1em;
}
.tafla_1_einkunn,
.tafla_1_bonnud_innan_18,
.tafla_1_bonnud_innan_16,
.tafla_1_bonnud_innan_12,
.tafla_1_bonnud_innan_L {
    text-align: center;
}
/* Lita bann */
.tafla_1_bonnud_innan_18 {
    background-color: rgba(255, 0, 0, 0.6);
}
.tafla_1_bonnud_innan_16 {
    background-color: rgba(255, 0, 0, 0.6);
}
.tafla_1_bonnud_innan_12 {
    background-color: rgba(255, 255, 0, 0.6);
}
.tafla_1_bonnud_innan_L {
    background-color: rgba(144, 238, 144, 0.6);
}
@media screen and (max-width: 37.5em) {
    .tafla_1 thead {
        display: none;
    }
    .tafla_1 td {
        display: block;
    }
    .tafla_1 tr {
        display: block;
        margin-bottom: .75em;
    }
    .tafla_1_einkunn,
    .tafla_1_bonnud_innan_18,
    .tafla_1_bonnud_innan_16,
    .tafla_1_bonnud_innan_12,
    .tafla_1_bonnud_innan_L,
    .tafla_1 tr {/* Þetta vildi ekki virka nema að ég gerði þetta svona nákvæmt*/
        text-align: right;
    }
    table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }
}