body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
}
h1 {
    text-align: center;
}
#tonleikar {
    display: grid;
    grid-template-columns: 1fr;
}
.imageContainer {
    position: relative;
    margin: .3em auto;
    background: black;
}
.imageContainer .texti {
    display: none;
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    color: white;
}
.texti h3 {
    margin: 5px;
}
.texti h4 {
    margin: 5px;
}
.texti p.eventHallName {
    margin-bottom: 5px;
}
.texti p.timeUntilShow,
.texti p.dateOfShow {
    margin: 5px 0;
}
.imageContainer:hover .mynd {
    opacity: 0.25;
}
.imageContainer:hover .texti {
    display: block;
}

/*  ========================================
  Viðmið - breakpoints 37.5em = 600px + 
  ========================================*/
@media screen and (min-width: 37.5em) {
    body {
        max-width: 38.5em;
    }
    #tonleikar {
        grid-template-columns: 1fr 1fr;
    }
}
/* ========================================
  Viðmið - breakpoints 48em = 760px +
  ======================================== */
@media screen and (min-width: 48em) {

}
/* ========================================
  Viðmið - breakpoints 60em = 960px +
  ======================================== */
@media screen and (min-width: 60em) {
    body {
        max-width: 61em;
    }
    #tonleikar {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
/* ========================================
  Viðmið - breakpoints 80em = 1600px +
  ======================================== */
@media screen and (min-width: 80em) {
    body {
        max-width: 81em;
    }
    #tonleikar {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
/* ========================================
  Viðmið - breakpoints 100em = 2000px +
  ======================================== */
@media screen and (min-width: 100em) {
    body {
        max-width: 101em;
    }
    #tonleikar {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}