body {
    font-family: 'Ubuntu', sans-serif;
}
.titill {
    color: black;
    text-decoration: none;
}


#tonleikar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.imageContainer {
    position: relative;
    margin: .3em auto;
    height: 190px;
}
.imageContainer .texti {
    display: none;
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    color: white;
}
.svartur_bakgrunnur {
    background: black;
}
.texti h3 {
    margin: 5px;
}
.texti h4 {
    margin: 5px;
}
.texti p.eventHallName {
    margin-bottom: 5px;
}
.texti p.timeUntilShow,
.texti p.dateOfShow {
    margin: 5px 0;
}
.imageContainer:hover .mynd {
    opacity: 0.25;
}
.imageContainer:hover .texti {
    display: block;
}

/* Hleðslutexti */
#hladaTexti {
    text-align: center;
    font-size: 3em;
}

/* Dagatal */
.calendar_selector {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.calendar_selector input {
    width: 40%;
    margin: 0 auto;
}

/* ========================================
  Serch bar
  ======================================== */
* {box-sizing: border-box;}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.search_bar {
    margin: .5em auto;
    text-align: center;
}
.search_bar span {
    font-size: 2em;
    cursor: pointer;
}
.search_input {
    border: 1px ridge black;
    padding: .3em;
    width: 40%;
    font-size: 1.5em;
}
