.form_1 {
    text-align: center;
    margin-top: 2em;
    border: 1px solid $Base-color_dokkur;
    border-radius: 1em;
}
.form_1_caption {
    text-align: center;
    font-size: 200%;
}
.form_1 input {
    margin-bottom: 1em;
}
.form_1 textarea {
    width: 85%
}